<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

__Exercise 1: Create a Jupyter Notebook__

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

__Exercise 2: Create markdown cell with title of the notebook__

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

__Exercise 11 - Create a markdown cell to indicate the Author's name__

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

## Author
Thyler Cung

__Exercise 3 - Create a markdown cell for an introduction__

Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

Introduction: This notebook is the final assignment of the "Tools for Data Science" Course by IBM.

__Exercise 10 - Insert a markdown cell to list Objectives__

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

__Objectives:__
+ List of data science languages
+ List of data science libraries
+ List of data science tools

__Exercise 4 - Create a markdown cell to list data science languages__

Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

Langauges used in data science include:
1. R
2. Python
3. SQL

__Exercise 5 - Create a markdown cell to list data science libraries__

Add an overview line to the cell like:

Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

Libraries used for data science include:
1. Pandas
2. Numpy
3. Matplotlib

__Exercise 6 - Create a markdown cell with a table of Data Science tools__

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

| Data Science Tools | 
| ------------------|
| Jupyter Notebook |
| Jupyter Lab |
| RStudio |

__Exercise 7 - Create a markdown cell introducing arithmetic expression examples__

Add a line in this cell with H3 style heading with text like:

Below are a few examples of evaluating arithmetic expressions in Python.

### The cells below contain example of common arithmetic expressions in Python

__Exercise 8 - Create a code cell to multiply and add numbers__

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

__Exercise 9 - Create a code cell to convert minutes to hours__

In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.

In [7]:
# This will convert 200 minutes to hours by diving by 60
print(f"200 minutes is {200/60} hours.")

200 minutes is 3.3333333333333335 hours.